<form [formGroup]="searchForm" class="search-form">
  <div class="container">
    <div>
      <mat-form-field
        class="search-full-width"
        appearance="outline"
        [hideRequiredMarker]="true"
      >
        <input
          minlength="3"
         
          id="search-input"
          formControlName="search-input"
          matInput
          placeholder="Search a move"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <div></div>
    <button mat-raised-button color="primary" (click)="onSearch()">
      search
    </button>
  </div>
  <div>
    <mat-paginator
      *ngIf="showPaginator"
      [length]="length"
      [pageSize]="pageSize"
      (page)="pageEvent = onSearch($event)"
    >
    </mat-paginator>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile
        *ngFor="let movie of movies"
        [colspan]="1"
        [rowspan]="5"
        [style.background]="white"
      >
        <mat-card class="search-card" (click)="openDialog(movie.id)">
          <mat-card-header>
            <mat-card-title>{{ movie.title }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-sm-image
            src="{{ movie.poster_path }}"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p class="search-rating">RATING: {{ movie.vote_average }}</p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button color="primary">RATE</button>
          </mat-card-actions> -->
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</form>
